{% extends '::base.html.twig' %}

{% block body %}
    <section class="col-sm-9">
        <form action="{{ path('edit_page', {'id': page.id}) }}" method="post">
            {{ form_widget(form) }}
        </form>
    </section>
{% endblock %}
