{% extends '::base.html.twig' %}

{% block body %}
    <section class="col-sm-9">
        <picture><img src="{{ asset('./images/moi.png') }}" alt="Photo de Lucile Ortega"></picture>
        <article>
            <p>Photographe spécialisée dans le reportage, le mariage et le portrait, basée en région Auvergne-Rhône-Alpes à Annonay (07), je me déplace sur toute la France pour immortaliser vos plus beaux instants.</p>

            <p>Après des études d'Arts du spectacle, la photographie s'impose à moi comme une évidence, comme le médium parfait pour rendre visible le monde qui nous entoure et révèler notre existence. Vous accompagner dans les moments forts de votre vie et capter ces instants fugaces est ma priorité.</p>

            <p>Ce qui me plait avant tout dans mon métirer c'est son caratcère social, c'est aller à la rencontre de l'autre. Mon objectif : me glisser dans votre monde et faire éclore vos plus beaux souvenirs !</p>

            <p>J'aime : la crème de marron, l'odeur des bébés, découvrir de nouvelles saveurs au cours de mes voyages, les aéroports, lire au coin du feu, sentir le soleil chauffer ma peau, le caramel au beurre salé, rire, découvrir de nouvelles cultures, nager jusqu'à la bouée, avoir raison, collectionner les boucles d'oreille, le funk, la sièste au jardin, le shopping, planter des fleurs, bêcher, les cieux orageux, la viandre crue, le vélo quand c'est plat, manger chinois, jouer de la basse, le volley ball, le rock, chiner sur les brocantes</p>

            <p>Je n'aime pas : les raviolies en boîte, étendre les chaussettes et constater la dispartition d'une d'entre elles, l'intolérence, avoir froid, perdre mon téléphone alors qu'il est dans ma poche, qu'on goûte les plats pendant que je cuisine, le vent, le bruit de la route, l'arrogance, faire la queue, avoir tord,la fin du tube de dentifrice, voir s'accumuler trop de bazar, les endives cuites, les mains sales</p>
        </article>
    </section>
{% endblock %}
