{% extends '::base.html.twig' %}

{% block body %}
    <section class="col-sm-9">
        <picture>
            <img src="{{ asset('./images/lucile-photographe.jpg') }}" alt="Photographe professionnelle" width="75%">
        </picture>
        <br>
        <article>
            <p>
                Photographe spécialisée dans le reportage de mariage, les photos de famille ( grossesse, naissance, portraits,…) je serai ravie d'immortaliser les moments forts de votre vie.<br>
                Vous accompagner dans les moments forts de votre vie et capter ces instants fugaces est ma priorité
            </p>

            <p>
                Le <strong>reportage de mariage</strong>, c'est avant tout aller à votre rencontre, pour exalter au mieux votre personnalité, vos émotions, votre spontanéité.<br>
                Mon objectif : me glisser dans votre monde et <strong>faire éclore vos plus beaux souvenirs</strong> !
            </p>

            <p>
                Amoureuse des lumières naturelles, et curieuse de découvrir votre environnement , je me déplace essentiellement à domicile en optant pour les « photos lifestyle » ( qui montre des moments de vie ), en extérieur ou en intérieur.<br>
                De cette façon vous restez dans votre élément, pour des images pleines de sincérité, de mouvement, de vie, comme témoins de l'instant.
            </p>

            <p>
                Mon matériel de studio m'accompagne pour un <strong>style de shooting différent</strong> et si les conditions lumineuses sont insuffisantes.<br>
                Mon approche du studio est centrée sur l'humain, l'expression, le caractère d'un visage, la personnalité.
            </p>

            <p>
                Et parce que <strong>votre mariage est unique</strong>, mon but est de raconter son histoire avec discrétion et bonne humeur en créant des images modernes et naturelles.
            </p>

            <p>
                Mes prestations s'étendent aussi au domaine des professionnels : valoriser votre image, celle de votre entreprise ou de vos produits, immortaliser vos événements.
            </p>
        </article>
    </section>
{% endblock %}

